<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Angular KT</a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li><a [routerLink]="['/assignment-2']">Assignment-2</a></li> -->
        <!-- <li><a [routerLink]="['/assignment-3']">Assignment-3</a></li> -->
        <!-- <li><a [routerLink]="['/assignment-4']">Assignment-4</a></li> -->
        <!-- <li><a [routerLink]="['/assignment-5/q1']">Assignment-5 Q1</a></li> -->
        <!-- <li><a [routerLink]="['/assignment-5/q2']">Assignment-5 Q2</a></li> -->
        <!-- <li><a [routerLink]="['/file-preview']">File Preview Demo</a></li> -->
        <li><a [routerLink]="['/pipes']">Pipes</a></li>
        <!-- <li><a [routerLink]="['/parent-child']">Parent Child Communication</a></li> -->
        <!-- <li><a [routerLink]="['/custom-directive']">Custom Directive</a></li> -->
        <!-- <li><a [routerLink]="['/dashboard']">Dashboard</a></li> -->
        <!-- <li><a [routerLink]="['/contact']">Contact</a></li> -->
        <!-- <li><a [routerLink]="['/about-us']">About us</a></li> -->
        <!-- <li><a [routerLink]="['/login-page']">Login Page</a></li> -->
        <!-- <li><a [routerLink]="['/directive-demo']">Directive Demo</a></li> -->
        <!-- <li><a [routerLink]="['/multiple-file-upload']">File Upload</a></li> -->

        <!-- <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Assignment-5 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/assignment-5/q1']">Q-1</a></li>
              <li><a [routerLink]="['/assignment-5/q2']">Q-2</a></li>
            </ul>
          </li> -->
       </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

 <h1>App Component(Parent)</h1>
  <p>Data sent from parent component: <input type="text" #pdata (change)="1"></p>
  <p>Data received from child component:{{dataFromChild}}
  <br>
  <!-- Data Received from child component: {{cdata}} -->

<!-- <app-assignment2 [parentinputdata]="pdata.value" (childData)="getChildData($event)"></app-assignment2> -->
<app-child [parentData]="pdata.value" (childDataEvent)="showChildData($event)"></app-child>

  <!-- <app-assignment2 [somedata] = "myData"></app-assignment2> -->


  <!-- <app-viewchild></app-viewchild> -->

<!-- <div *ngIf="100>50; else elseBlock">
<p>Good Morning</p>
</div>
<ng-template #elseBlock>
  <p>Namaste!</p>
</ng-template> -->

<!-- <strong>Using regular for loop</strong>
<div *ngFor="let emp of employees; let i =index">
  Name:{{emp.name}} Gender:{{emp.gender}} Age:{{emp.age}}
</div> -->
<!-- <br> -->
<!-- <strong>Using ng-template</strong>
<ng-template ngFor let-emp [ngForOf]="employees" let-i="index">
  <p>Sr.No {{i}} Name:{{emp.name}} Gender:{{emp.gender}} Age:{{emp.age}}</p>
</ng-template> -->

<!-- <strong>Using ngSwitchCase with div</strong>
<div [ngSwitch]="'angular'">
  <p *ngSwitchCase="'java'">Java</p>
  <p *ngSwitchCase="'python'">Python</p>
  <p *ngSwitchCase="'c++'">C++</p>
  <p *ngSwitchCase="'angular'">Angular</p>
</div> -->


<!-- <strong>Using ngSwitchCase with ng-template</strong>
<div [ngSwitch]="'python'">
  <ng-template [ngSwitchCase]="'java'">Java</ng-template>
  <ng-template [ngSwitchCase]="'python'">Python</ng-template>
  <ng-template [ngSwitchCase]="'c++'">C++</ng-template>
  <ng-template [ngSwitchCase]="'angular'">Angular</ng-template>
</div> -->


<!-- <app-aboutus></app-aboutus> -->

<h2>-------------------------------------Custom Directive-------------------------------------</h2>
<h3 appMyCustomStyle  myColor="red" myFontFamily="consolas">
  This is an example-1 of custom directive.
</h3>

<h3>
  This is an example-2 of custom directive.
</h3>


MYName:{{myData}}